{% extends "base_generic.html" %}
{% block content %}
<div class="mouse-parallax">
    <div class="main_image">
</div>
</div>
<p id = "link_list" class="arr">{{link_list}}</p>
<p class="arr" id="url_list">{{url_list}}</p>
<p class="arr" id="summary_list">{{summary_list}}</p>
<p class="arr" id="cost_list">{{cost_list}}</p>
<p class="arr" id="genre_list">{{genre_list}}</p>
<p class="arr">{{title_list}}</p>
<p class="arr">{{author_list}}</p>
<p class="arr">{{products}}</p>
<a href="products" class="arr">Все продукты</a>
<a href="authors" class="arr">Все авторы</a>
<div class="circle" id="circle">
</div>
<div class="block_image" id="block_img">

        <a href="products/1" id="link_image">
            <ul class="transition_img">
            <li><div id="transition_anim1"></div></li>
            <li><div id="transition_anim2"></div></li>
            <li><div id="transition_anim3"></div></li>
            <li><div id="transition_anim4"></div></li>
        </ul>
            <img class="image_good" id="image" src="#"></a>
        <div class="arrow-1" id="arrow1">
            <div></div>
        </div>
        <div class="arrow-2" id="arrow2">
            <div></div>
        </div>
</div>
<div class="block_summary" id="block_sum">
    <div class="face_auth" id="ava"></div>
    <p class="cost" id="costt">COST : 1000</p>
    <p class="summary" id="sum">THIS PICTURE IS BEAUTIFUL.</p>
    <a class="follow_auth" id="follow_a">FOLLOW AUTHOR...</a>
    <div class="show" id="show_full"><p class="p1_show" id="p1_sh">show full</p> <p class="p2_show" id="p2_sh">close</p></div>
</div>
<ul class="categories" id="block_cat">
    <li>
        <div class="cat1">cat1</div>
        <div class="cat2">cat2</div>
    </li>
    <li>
        <div class="cat3">cat3</div>
        <div class="cat4">cat4</div>
    </li>
    <li>
        <div class="cat5">cat5</div>
        <div class="cat6">cat6</div>
    </li>
    <li>
        <div class="cat7">cat7</div>
        <div class="cat8">cat8</div>
    </li>
</ul>

<div class="block_2" id="block2">

</div>


{% endblock %}