{% extends "base_generic.html" %}
{% block content %}
<p id = "link_list" class="arr">{{link_list}}</p>
<p class="arr" id="url_list">{{url_list}}</p>
<a href="products">Все продукты</a>
<a href="products/1" id="link_image"><img class="image_good" id="image" src="#"></a>
    <script>
       let str = document.getElementById('link_list').innerHTML;
       str = str.slice(2,str.length -2);
       let arr = str.split("', '");
       let str2 = document.getElementById('url_list').innerHTML;
       str2 = str2.slice(1,str2.length -1);
       let arr2 = str2.split(", ");
       let k =0;
       let img = document.getElementById("image");
       img.setAttribute("src", arr[k]);
       let a = document.getElementById("link_image");
       a.setAttribute("href", "products/" + arr2[k]);
       k++;
       setTimeout(function l(){
            img.setAttribute("src", arr[k]);
            a.setAttribute("href","products/" + arr2[k]);
            k++;
            if(k==arr.length){
                k = 0;
            }
            setTimeout(l,4000);

        },5000);
    </script>

{% endblock %}