{% extends "base_generic.html" %}
{% block content %}
<p id = "link_list" class="arr">{{link_list}}</p>
<p class="arr" id="url_list">{{url_list}}</p>
<p class="arr">{{title_list}}</p>
<p class="arr" id="summary_list">{{summary_list}}</p>
<p class="arr" id="cost_list">{{cost_list}}</p>
<p class="arr">{{author_list}}</p>
<p class="arr">{{products}}</p>
<a href="products" class="arr">Все продукты</a>
<a href="authors" class="arr">Все авторы</a>
<div class="circle" id="circle">
</div>
<div class="block_image" id="block_img">
        <a href="products/1" id="link_image"><img class="image_good" id="image" src="#"></a>
        <div class="arrow-1" id="arrow1">
            <div></div>
        </div>
        <div class="arrow-2" id="arrow2">
            <div></div>
        </div>
</div>
<div class="block_summary" id="block_sum">
    <div class="face_auth"></div>
    <p class="cost" id="costt">COST : 1000</p>
    <p class="summary" id="sum">THIS PICTURE IS BEAUTIFUL.</p>
    <a class="follow_auth" id="follow_a">FOLLOW AUTHOR...</a>
    <div class="show" id="show_full"><p>show full</p></div>
</div>


{% endblock %}