@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
font-family: "ForestSmooth";
// адрес шрифта и тип
src: url("../fonts/ForestSmooth-Regular.ttf");
}


body,html{
	padding: 0;
	margin: 0;
	align: center;
}
a{
	text-decoration: none;
}
.main_image{
    height: 100vh;
    width: 100vw;
    margin-left: 0vw;
    background: url(../photo/фон4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.sign{
    margin: 0;
    padding:0;
    display: flex;
    list-style: none;
    position: absolute;
    left:40vw;
    top: 2vh;
    z-index:100;
    width: 20vw;
    justify-content: space-between;
}
.sign li{
    width: 50%;
    text-align: center;
}
.sign li a{
    color: white;
    font-size: 3vh;
    font-family: "ForestSmooth";
    text-shadow: 5px 5px 10px black;
}
.user_name{
    color: white;
    font-size: 3vh;
    font-family: "ForestSmooth";
    text-shadow: 5px 5px 10px black;
}
.block_login{
    margin: 0;
    padding: 0;
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 0vw;
    left: 15vw;
    background-color: #332928;
    color: white;
    font-size: 1.3vw;
    font-family: "ForestSmooth";
    text-shadow: 5px 5px 10px black;
}
.block_form_login{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5.5vw;
    left: 10vw;
}
.block_form_login{
    line-height: 2vw;
}
.block_form_login a{
    text-decoration-style: none;
}
.block_form_login tr td{
    border: none;
    outline: none;
    width: 8vw;
    height: 3.5vw;
    margin-bottom: 5vw;
}
.block_form_login tr td input{
    height: 2.5vw;
    border: none;
    outline: none;
    background-color: white;
    color: #332928;
    font-size: 1vw;
    font-family: "ForestSmooth";
}
.form_reset_password>input{
    background-color: white;
    color: #332928;
    font-size: 1vw;
    font-family: "ForestSmooth";
    text-shadow: 5px 5px 10px rgb(0,0,0,0);
    width: 10vw;
    height:2vw;
    border: none;
    outline: none;
    transition: all 0.7s linear;
}
.form_reset_password>input:hover{
    background-color: #332928;
    color: white;
    cursor: pointer;
}
.form_reset_password p input{
    height: 2.5vw;
    border: none;
    outline: none;
    background-color: white;
    color: #332928;
    font-size: 1vw;
    font-family: "ForestSmooth";
}
.submit_login{
    background-color: white;
    color: #332928;
    font-size: 1vw;
    font-family: "ForestSmooth";
    text-shadow: 5px 5px 10px rgb(0,0,0,0);
    width: 10vw;
    height:2vw;
    border: none;
    outline: none;
    transition: all 0.7s linear;
    margin-top: 1vw;
}
.submit_login:hover{
    background-color: #332928;
    color: white;
    cursor: pointer;
}
.arr{
    display: none;
}
.image_good{
    width:100%;
    height:32vw;
    position: relative;
    top: 0vw;
    left:0vw;
    z-index: 0;
    transition: all 0.5s linear;

}
.circle{
    border-radius: 50%;
    background-color: #332928;
    width: 9vw;
    height: 9vw;
    position:absolute;
    top: 45vh;
    left: 45.5vw;
    box-shadow: 2px 2px 10px 2px rgb(0,0,0,0.4);
    transition: all 0.7s linear;
}
.transition_img{
    position: absolute;
    left: 0vw;
    top: 0vw;
    margin:0;
    list-style:none;
    padding:0;
    width: 100%;
    height: 32vw;
    z-index: 100;
}
.transition_img li{
    float:left;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 32vw;
}
.transition_img>li>div{
    width: 100%;
    height: 32vw;
    float:left;
    margin: 0;
    padding: 0;
    background-color: #332928;
    opacity: 0;
    transition: all 1.5s linear;
}
.block_image{
    position: relative;
    left: 20vw;
    top: 5.5vw;
    background-color: white;
    width: 40.5vw;
    height: 32vw;
    opacity: 0;
    display: none;
}
.block_summary{
    position: absolute;
    left: 20vw;
    top:37.9vw;
    background-color: white;
    width: 40.5vw;
    height: 7vw;
    display: none;
    transition: all 1s linear;
}
.show{
    position: absolute;
    left: 0.15vw;
    bottom:0.15vw;
    background-color: #332928;
    width: 40.2vw;
    height: 2vw;
    text-align: center;
    line-height: 2vw;
    transition: all 1.2s linear;
}
.show:hover{
    cursor: pointer;
}
.show p{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "ForestSmooth";
    font-size: 1vw;
    text-shadow: 5px 5px 10px black;
}
.p2_show{
    display:none;
}
.face_auth{
    position: absolute;
    top:0.5vw;
    right:0.5vw;
    width:3vw;
    height:2.8vw;
    background-color: #332928;
    margin: 0;
    padding: 0;
    transition: all 1s linear;
}
.cost{
    color: #332928;
    margin:0;
    padding:0;
    position:absolute;
    top:0.6vw;
    left: 0.5vw;
    font-size: 1vw;
    font-family: "ForestSmooth";
}
.summary{
    color: #332928;
    margin:0;
    padding:0;
    position:absolute;
    top:3.5vw;
    left: 0.5vw;
    font-size: 1vw;
    font-family: "ForestSmooth";
}
.follow_auth{
    opacity: 0.6;
    color: #332928;
    margin:0;
    padding:0;
    position:absolute;
    top:3.7vw;
    right: 0.5vw;
    font-size: 0.8vw;
    font-family: "ForestSmooth";
    transition: all 0.5s linear;
}
.follow_auth:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*стрелка*/
.arrow-1 {
    cursor: pointer;
    position: absolute;
    right:1vw;
    top:14vw;
    width: 1.5vw;
    height: 1vw;
    transform: rotate(-90deg);
    z-index:1000;
}
.arrow-1 div {
    position: relative;
    top: 0.5vw;
    width: 2vw;
    height: 0.15vw;
    background-color: #332928;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 0.5vw;
    height: 0.15vw;
    top: -0.15vw;
    right: -0.1vw;
    background-color: #332928;
    transform: rotate(45deg);
}
.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 0.5vw;
    height: 0.15vw;
    top: 0.16vw;
    right: -0.1vw;
    background-color: #332928;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-1:hover {
    animation: arrow-1 20s linear infinite;
}
@keyframes arrow-1 {
    0% {
        top:14vw;
    }
    2% {
        top:13vw;
    }
    98% {
        top:13vw;
    }
    100%{
        top:14vw;
    }
}
.arrow-2 {
    cursor: pointer;
    position: absolute;
    right:0.85vw;
    top:16.3vw;
    width: 1.5vw;
    height: 1vw;
    transform: rotate(90deg);
    z-index:1000;
}
.arrow-2 div {
    position: relative;
    top: 0.5vw;
    width: 2vw;
    height: 0.15vw;
    background-color: #332928;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.arrow-2 div::after {
    content: '';
    position: absolute;
    width: 0.5vw;
    height: 0.15vw;
    top: -0.15vw;
    right: -0.1vw;
    background-color: #332928;
    transform: rotate(45deg);
}
.arrow-2 div::before {
    content: '';
    position: absolute;
    width: 0.5vw;
    height: 0.15vw;
    top: 0.15vw;
    right: -0.1vw;
    background-color: #332928;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-2:hover {
    animation: arrow-2 20s linear infinite;
}
@keyframes arrow-2 {
    0% {
        top:16.3vw;
    }
    2% {
        top:17.3vw;
    }
    98% {
        top:17.3vw;
    }
    100%{
        top:16vw;
    }
}
.content{
    margin: 0;
    padding: 0;
    z-index:0;
}
.categories{
    position: absolute;
    right: 20vw;
    top: 5.5vw;
    width: 19vw;
    height: 32vw;
    margin: 0;
    padding:0;
    display: none;
    list-style: none;
}
.categories li{
    width: 100%;
    height: 7.63vw;
    margin-bottom: 0.5vw;
    padding:0;
}
.categories li div{
    float: left;
    width: 9.25vw;
    height: 7.63vw;
    background-color: white;
    text-align: center;
    line-height: 7.63vw;
    font-size: 1vw;
    font-family: "ForestSmooth";
    color: #332928;
    transition: all 0.7s linear;
}
.categories li div:hover{
    cursor: pointer;
    background-color:  #332928;
    color: white;
}
.cat1{
    margin-right: 0.5vw;
}
.cat3{
    margin-right: 0.5vw;
}
.cat5{
    margin-right: 0.5vw;
}
.cat7{
    margin-right: 0.5vw;
}